<mat-card *ngIf="weatherData">
  <mat-card-title>Weather in {{ weatherData.city_name }}</mat-card-title>
  <mat-card-content>
    <p><strong>Date:</strong> {{ weatherData.datetime }}</p>

    <p><strong>Temperature:</strong> {{ weatherData.temp }} °C</p>
    <p><strong>Humidity:</strong> {{ weatherData.h_angle }}%</p>
    <p><strong>Wind:</strong> {{ weatherData.wind_spd }} m/s</p>
    <p><strong>Cloud Count:</strong> {{ weatherData.clouds }}</p>
    <p><strong>Condition:</strong> {{ weatherData.weather.description }}</p>
    <p><strong>TimeZone:</strong> {{ weatherData.timezone }}</p>
    <p><strong>Expected Sunset:</strong> {{ weatherData.sunset }} GMT</p>
    <p><strong>Expected Sunrise:</strong> {{ weatherData.sunrise }} GMT</p>
  </mat-card-content>
</mat-card>
